window#waybar {
    background-color: #191724;
    font-family: monospace;
}

#workspaces {
  margin: 10px;
  margin-top: 4px;
  padding: 7px;
  padding-left: 4px;
  border-radius: 50px;
  background-color: #232a2d;
  font-size: 12px;
}

#workspaces button {
  font-family: monospace;
  color: #dadada;
  padding: 3px 7px;
  font-size: 20px;
}

#workspaces button:hover {
  background: #232a2d;
}

#workspaces button.focused {
  color: #EB6F92;
}

#window {
  margin-left: 40px;
  font-weight: bold;
  font-family: "monospace";
  color: #dadada;
}

#custom-power {
  color: #141b1e;
  background-color: #e57474;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 0px 10px;
  margin-bottom: 5px
}
#clock,
#clock.1 {
  color: #dadada;
  font-size: 1.2em;
  margin-bottom: 8px;
}
#clock.2 {
  color: #dadada;
  font-size: 0.9em;
  margin-bottom: 8px;
}


#battery {
  font-size: 1.2em;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	margin-right: 8px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #EB6F92;
}

#network {
  font-size: 1.2em;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #dadada;
}

#pulseaudio {
  font-size: 1.2em;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #dadada;
}
#custom-ghost {
  border-radius: 50px;
  margin: 10px;
  font-size:17px;
  padding: 7px;
  background-color: #EBBCBA;
  color: #141b1e;
}
#custom-scratchpad-indicator {
  border-radius: 50px;
  margin: 10px;
  font-size:17px;
  padding: 7px;
  background-color: #614f4b;
  color: #dadada;
}
#custom-survey_num {
  font-size: 1.2em;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #C4A7E7;
}
#custom-playerctl {
  font-size: 1.2em;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #EBBCBA;
}
