Dark: https://user-images.githubusercontent.com/58662350/213884037-97bb9a1b-cc5a-46c1-8d44-877cd85b1cdc.png
bg_dim: #252423
bg0: #32302f
bg1: #3c3836
fg0: #d4be98
fg1: #ddc7a1

Light: https://user-images.githubusercontent.com/58662350/213884039-4eac92cc-c23a-4add-8d45-6838daf9d48b.png
