* {
  font-family: 'IosevkaTerm Nerd Font Mono';
	font-size: 10pt;
  /* font-weight: bold; */
  border-radius: 20px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar {
  background: #32302f;
}

tooltip {
  background: #32302f;
}

tooltip label {
  color: #d4be98;
}


@keyframes blink_red {
  to {
    background-color: #ea6962;
    color: rgb(26, 24, 38);
  }
}
.critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #tray, #submap, #clock, #memory, #temperature,#cpu,#mpd, #temperature, #backlight, #wireplumber, #network, #battery, #custom-powermenu, #custom-survey_num, #window, #idle_inhibitor, #custom-my_lock {
  background-color: #3c3836;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d4be98;
}

#workspaces {
  /* background-color: #3c3836; */
  color: #d8caac;
}

#workspaces button {
  color: #d4be98;
}

#workspaces button.active {
  color: #ea6962;
}

#workspaces button:hover {
  color: #161320;
  box-shadow: none;
  text-shadow: none;
  background: rgb(248, 189, 150);
  border: none;
  transition: none;
}

#workspaces button.urgent {
  color: #161320;
  background-color: #ea6962;
}

#mode {
  color: #657b83;
}
#memory {
  color: rgb(181, 232, 224);
}

#temperature {
  color: rgb(150, 205, 251);
}
#backlight {
  color: rgb(248, 189, 150);
}

#network.disconnected {
  color: #ea6962;
}

#battery:hover {
  color: #d8caac;
  background-color: #A8B468;

}
#battery.charging, #battery.plugged:hover {
  background-color: #ebdbb2;
  color: #654735;

}

#battery.critical:not(.charging):hover {
  color: #161320;
  background-color: #e76c69;

}

#battery.almost_full {
  background-color: #ebdbb2;
  color: #654735;
}

#custom-powermenu, #idle_inhibitor, #custom-survey_num, #custom-my_lock, #submap {
  background-color: #ebdbb2;
  color: #654735;
}
