snippet sout "Print di Java" w
System.out.println($1);
endsnippet

snippet construct "Costruttore" w
public $1(){
	
}
endsnippet

snippet pubst "Public static method" w
public static void $1(){
	
}
endsnippet

snippet switch "Switch di java" w
switch ($1) {
	case "a":
		break;
	case "b":
		break;
	default:
}
endsnippet
