/* Hides Tabs Toolbar automatically if Sidebery is active */
@import url(components/windows_controls_placeholder.css);
@import url(components/hide_tabs_toolbar.css);

/* Autohide sidebar */
@import url(components/autohide_sidebar.css);

/* Rounded corner highlight in context menu */
@import url(components/rounded_corner_context_menu.css);

/* Remove "Send tab to device" and "Share" entry in tab context menu */
#tabContextMenu #context_sendTabToDevice,
.share-tab-url-item {
    display: none
}

/*
Remove "Email Image...", "Email Video...", "Send Link to Device" and
"Set As Desktop Background..." entries in context menu
*/
#context-sendimage,
#context-sendvideo,
#context-sendlinktodevice,
#context-sep-setbackground,
#context-setDesktopBackground {
    display: none
}

/* Remove sidebar header */
#sidebar-header {
    display: none
}

/* Tone down the color of the black outline found in the toolbar and findbar */
/*#navigator-toolbox {
    border-bottom-color: rgb(48, 45, 65) !important;
}*/

/*findbar {
    border-top-color: rgb(48, 45, 65) !important;
}*/
/*
#fullscr-toggler { background-color: rgba(0, 0, 0, 0) !important; }*/
/*:root {
  --uc-bg-color: #1F1D29;
  --uc-show-new-tab-button: none;
  --uc-show-tab-separators: none;
  --uc-tab-separators-color: none;
  --uc-tab-separators-width: none;
  --uc-tab-fg-color: #9BCED7;
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
  --mff-bg: #1F1D29;
  --mff-icon-color: #9BCED7;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #F1CA93;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #EA6F91;
  --mff-tab-font-family: "FiraCode Nerd Font";
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: #9BCED7;
  --mff-tab-selected-bg: #403C58;
  --mff-tab-soundplaying-bg: #9c89b8;
  --mff-urlbar-color: #98c1d9;
  --mff-urlbar-focused-color: #403C58;
  --mff-urlbar-font-family: "Fira Code";
  --mff-urlbar-font-size: 11pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #F1CA93;
  --mff-urlbar-results-font-family: "Fira Code";
  --mff-urlbar-results-font-size: 11pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #98c1d9;
}*/

/*#urlbar-background, .titlebar-buttonbox-container, #nav-bar, .tabbrowser-tab:not([selected]) .tab-background{
    background: var(--uc-bg-color) !important;
  border: none !important;
}
#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    animation-name: none !important;
    box-shadow: none !important;
}
#urlbar-background {
  box-shadow: none !important;
}*/